
.about-us-container {
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin: 20px;
  }
  
  .header {
    background: linear-gradient(45deg, #7500b6, #3b61a2);
    color: #fff;
    padding: 40px 0;
    text-align: center;
    position: relative;
  }
  
  .header i {
    font-size: 2rem;
    color: #fff;
    position: absolute;
    top: 10px;
    left: 10px;
  }
  
  .header h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .header p {
    font-size: 1.4rem;
    color: #f0f0f0;
  }
  
  .about-us-content {
    padding: 20px;
    background-color: #fff;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
    width: 80%;
    margin: 20px 0;
  }
  
  .about-us-content h2 {
    font-size: 2rem;
    color: #3b61a2;
    margin-bottom: 10px;
  }
  
  about-us-content p {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 20px;
  }
  
  .contact-info {
    padding: 20px;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
    width: 80%;
    margin: 20px 0;
  }
  
  .contact-info h2 {
    font-size: 2rem;
    color: #3b61a2;
    margin-bottom: 10px;
  }
  
  .contact-info ul {
    list-style-type: none;
    padding: 0;
  }
  
  contact-info li {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 10px;
  }
  
.fa-home {
    display: inline-block;
    padding: 10px 20px;
    background-color: #7500b6; 
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    text-decoration: none;
    margin-top: 20px;
    cursor: pointer; 
    transition: background-color 0.3s ease-in-out;
  }
  
  .fa-home:hover {
    background-color: #9119ec; 
  }
  