/* ContactForm.css */

.contact-form {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin: 10px 0;
  }
  
  .contact-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .contact-form input,
  textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .contact-form button {
    width: 100%;
    padding: 10px;
    background-color: #0074cc;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0055a5;
  }
  
    
  .section {
    position: fixed;
    z-index: 1;
    background-color: #8a2be2; /* Blue-violet background color */
    height: 50px;
    display: flex;
    justify-content: space-between; /* Pushes the link to the right */
    align-items: center;
  }
  
  .section-link {
    text-decoration: none;
    color: #fff; /* Text color */
    font-weight: bold;
    padding: 5px 15px;
    background-color: #8808a4; /* Button-like background color */
    border-radius: 5px;
  }
  
  .section-link:hover {
    background-color: #ec55cb; /* Button-like background color on hover */
  }
  