/* Footer.css */

.footer {
    background: linear-gradient(to right, #5978E4, #8136D9);
    color: #fff;
    padding: 20px 0;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: le;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .subContainer {
    justify-content: space-between;
    max-width: 250px;
    padding: 0px;
  }
  .company-details {
    text-align: left;
  }
  
  .company-details h1 {
    font-size: 24px;
  }
  
  .company-details p {
    margin: 5px 0;
  }
  
  .product-categories {
    text-align: left;
  }
  
  .product-categories h3 {
    font-size: 18px;
  }
  
  .product-categories ul {
    list-style: none;
    padding: 0;
  }
  
  .product-categories li {
    margin: 5px 0;
  }
  
  .product-categories a {
    text-decoration: none;
    color: #fff;
  }
  
  .product-categories a:hover {
    text-decoration: underline;
  }
  
  .footer-bottom {
    background-color: #333;
    text-align: center;
    padding: 10px 0;
  }
  
  .footer-mission,
.footer-vision {
  text-align: left;
  margin-top: 5px;
}

.footer-mission h3,
.footer-vision h3 {
  font-size: 18px;
  color: #fff;
}

.footer-mission p,
.footer-vision p {
  color: #fff;
  margin: 5px 0;
}

.footer-bottom {
  background-color: #333;
  text-align: center;
  padding: 10px 0;
}

.footer-bottom p {
  margin: 0;
  font-size: 14px;
}
  

.footer-follow {
    text-align: left;
    margin-top: 20px;
  }
  
  .footer-follow h3 {
    font-size: 18px;
    color: #fff; 
  }
  
  .follow-icons {
    display: flex;
    align-items: center;

  }

  .follow-icons i {
    font-size: 24px;
    margin-right: 10px; 
  }
  
  
  
  
  
  
  
  
  
  