/* SupplierSlider.css */

.supplier-slider {
    max-width: 75%;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Style for the carousel slides */
  .carousel .slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #5978E4; /* Blue-Violet background color */
    border: 1px solid #8136D9; /* Darker violet border color */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(129, 54, 217, 0.4); /* Darker violet shadow */
    transition: background-color 0.3s ease-in-out;
  }

  /* SupplierSlider.css */
.carousel .slide img {
    max-width: 100%;
    height: 300px;
  }
  
  
  /* Style for the slide titles */
  .carousel .slide h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #fff; /* White title text color */
  }
  
  /* Style for the slide descriptions */
  .carousel .slide p {
    font-size: 16px;
    color: #fff;
    margin-bottom: 20px;
  }
  
  /* Style for the carousel navigation dots (optional) */
  .carousel .carousel-status {
    display: none;
  }
  
  /* Hover effect for slides */
  .carousel .slide:hover {
    background: #8136D9; /* Darker violet background color on hover */
    box-shadow: 0 0 10px rgba(62, 26, 101, 0.4); /* Even darker violet shadow on hover */
  }
  
  /* Additional color for the button */
  .carousel .slide a {
    color: #fff; /* White button text color */
    background: #5978E4; /* Blue-Violet button background color */
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
  }
  
  /* Additional color for the button hover state */
  .carousel .slide a:hover {
    background: #3E1A65; /* Even darker blue-violet button background color on hover */
  }
  