.section {
    display: flex;
    position: fixed; 
    width: 100%;  
    justify-content: space-between;
    align-items: center;
    background-color: #8a2be2; 
    padding: 20px;
    border-bottom: 2px solid #4b0082;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.2s;
    z-index: 2;
    top: 0;
    left: 0;
  }
  
  .section.hovered {
   background-color: #4b0082;
    transform: scale(1.0); 
  }
  
  .section.clicked {
    background-color: #800080; 
    transform: scale(1); 
  }
  
  .section-left {
    display: flex;
    align-items: center;
  }
  
  .section-left img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  
  .section h3 {
    font-size: 24px;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    font-size: 24px;
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(45deg, #FF5733, #FFC300, #DAF7A6); 
  }
  
  .section-right{
    display: flex;
    align-items: center;
  }
  .Nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
   
  }
  
  .Nav li {
    display: inline;
    margin-right: 30px;
    color: #fff;
    font-weight: 600;
    position: relative;
    transition: color 0.3s;
  }
  
  

  .Nav  li::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: transparent;
    bottom: -2px;
    left: 0;
    transition: background-color 0.3s;
  }
  
  .Nav  li:hover {
    color: #4b0082;
    cursor: pointer;
    transform: scale(1.05);
  }
  
  .Nav  li:hover::after {
    background-color: #4b0082;
    transform: scale(1.05);
  }

  .username {
    cursor: pointer;
    position: relative;
  }

  .username:hover .dropdown {
    display: block;
  }

  .dropdown {
    display: none;
    z-index: 1;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  .dropdown button {
    background-color: #ff5733; 
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
  }

  .dropdown button:hover {
    background-color: #ff2400; 
  }

  /* head.css */
  .yellow-text {
    background-color: #FFC300; 
    color: white; 
    padding: 5px 10px; 
    border-radius: 5px; 
    font-weight: bold; 
    width: fit-content; 
  }

