/* search.css */

.SearchNavBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .search-container {
    display: flex;
    align-items: center;
  }
  
  .search-form {
    display: flex;
    align-items: center;
  }
  
  .search-input input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .search-input button[type="submit"] {
    background-color: #750ae7;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .search-input button[type="submit"]:hover {
    background-color: #c743eb;

}
  
  